@charset "UTF-8";
@import url(/Users/Matias/Documents/Programación/DevPlay/Portfolio/Vanilla Js/memo-test/node_modules/bulma/css/bulma.min.css);
body {
  background-color: white;
}

.is-flipped {
  transform: rotateY(180deg);
}

.back {
  width: 270px;
  height: 360px;
}

.flip {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}
